<!DOCTYPE html>
<html>
	<head>
		<title>Chat App</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="http://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet" type="text/css">
		<link rel="stylesheet" type="text/css" href="styles.css" >
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
	</head>
	<body onload = "update()" style = "white-space: nowrap;">
		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<div class="navbar-header">
					<ul class="nav navbar-nav" style = "padding : 8px;">
						<li style = "padding-right : 30px;">
							<img src = "avatar.jpg" class = "avatar1" id = "OpenImgUpload">
						</li>
						<li>
							<h1 style="font-size:2.5vw;">Let's Chat</h1>
						</li>
					</ul>
				</div>
				<ul class="nav navbar-nav navbar-right" style = "padding : 10px;">
					<li>
						<form method="post" action="/logout">
		  					<input class = "logout" type="submit" value = "Logout <%= username%>" style = "float : right;">
	  					</form>
  					</li>
				</ul>
			</div>
		</nav>
		<div class="popup-overlay">
			<div class="popup-content">
				<h3>Upload Your Profile Picture</h3>
				<img src = "avatar.jpg" class = "currImage" id = "currImage">
				<form action = "/imgUpload" method = "post" enctype="multipart/form-data">
					<label for="file" class="custom-file-upload">
					<input type="file" name="file" id="file" accept="image/jpeg, image/png" class="custom-file-upload" single required/>
					</label>
					<br><br>
					<input type = "submit" name = "submit" value = "Upload" class = "btn btn-info"/>
				</form>
			</div>
		</div>
		<div class="popup-overlay-image">
			<div class="popup-content-image">
				<img src = "avatar.jpg" class = "currImage1" id = "clickImage">
			</div>
		</div>
		<div class = "div1" id = "user">
		</div>
		<div id = "chatbox" style = "display:none;">
			<section id = "header" style = " border: 5px outset #81BEF7; margin-left : 25%;width : 72%;background-color:#81DAF5;">
				<div>
					<img src = "avatar.jpg" class = "avatar1" id = "sendUserImage">
					<span id = "send_user" style="font-size:2vw;"></span>
				</div>
			</section>
			<section id="chatroom" style = "margin-left : 25%;border: 5px outset #81BEF7;width : 72%;background-color:#81DAF5;">
				<!-- <section id="feedback"></section> -->
			</section>

			<section id="input_zone">
				<input id="message" type="text" placeholder = "Type a message"/>
				<img id = "send_message" src = "send.png" class = "avatar1">
			</section>
		</div>
		<script src="http://code.jquery.com/jquery-latest.min.js"></script>
		<script>
			var data =<%-JSON.stringify(data)%>
			var username =<%-JSON.stringify(username)%>
		</script>
		<script src="chat.js"></script>
	</body>
</html>
